.brand-image-parent{
    width: 630px;
    height: 517px;
    background-color: #f9f7f6;
    border-radius: 5px;
    opacity: 1;
}
.brand-image-child{
    border-radius: 5px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}
.collection-image-parent{
    width: 410px;
    height: 410px;
    background-color: #f9f7f6;
    border-radius: 5px;
    opacity: 1;
}
.collection-image-child{
    border-radius: 5px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}
.product-image-parent{
    width: 410px;
    height: 410px;
    background-color: #f9f7f6;
    border-radius: 5px;
    opacity: 1;
}
.product-image-child{
    border-radius: 5px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}
